# .env contains API keys & should not be stored in svc
.env

# downloads folder is where all video downloads are saved to disk. No need to track
downloads

# executables folder is where yt-dlp is stored, and potentially others. Not sure if need to track yet.
exec
